
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    <div> 
        <form action="/Clientepessoafisica/Store" method="post">
            <div>
                <div>
                    <label for="campo-nome">Nome</label>
                    <input type="text" name="nome" id="campo-nome" /> 

                    <label for="campo-cpf">CPF</label>
                    <input type="number" name="cpf" id="campo-cpf" />

                    <label for="campo-dataNascimento">Data de Nascimento</label>
                    <input type="datetime" name="datanascimento" id="campo-dataNascimento" />

                    <label for="campo-rg">RG</label>
                    <input type="number" name="rg" id="campo-rg" />

                    <label for="campo-sexo">Sexo</label>
                    <select>
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                    </select>

                    <button type="submit">Salvar</button>

                </div>
            </div>
        </form>
    </div>
</body>
</html>
