
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Cliente Pessoa Física</h1>
    </div>
    <a href="/clientepessoafisica/cadastro">Novo Cadastro</a>
    <form action="/clientepessoafisica/index" method="get">

        <label for="campo-pesquisa">Pesquisa</label>
        <input type="text" id="campo-pesquisa" name="pesquisa" />

    </form>
    <div>
        <table class="tabela">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data Nascimento</th>
                    <th>RG</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>
</html>
